@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas{
    width: 320px;
    height: 480px;
    border: 1px solid rgba(0, 0, 0, 0.329);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.356);
    border-radius: 10px;
    display: block;
    margin: auto;
}